body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111216;
  /* background-color: #18191d; */
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-size: 3.3rem;
  line-height: 4.5rem;
}
h3{
  font-size: 1.6rem;
  line-height: 2rem; 
}

h1,h2,h4{
  margin: 0;
}

@media screen and (max-width: 1200px) {
  h1{
    /* font-size: 2.5rem;
    line-height: 3.3rem; */
  }
}
@media screen and (max-width: 600px) {

}

